body {
    margin-top: 4em;
    margin-bottom: 4em;
    background-color: #8DB38B;
}

.main-container {
    background-color: #56876D;
    color: white;
}

.title {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 3rem;
}

.fa-link {
    color: black;
    font-size: 2.5rem;
    text-decoration: none;
}

.fa-link:hover {
    color: black;
}

a {
    color: #1C2541;
    text-decoration: none;
}

a:hover {
    color: #49B6FF;
}